body {
  background-color: #D8DCF9;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.card {
  height: 150px;
  width: 250px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  border: 2px solid black;
  outline: none;
  box-shadow: 2px 2px grey;
  background-color: #415BE8;
}

.shape {
  height: 100px;
  width: 50px;
  max-width: 50px;
  margin: 16px;
  background-color: transparent;
  border: 2px solid transparent;
}

.oval {
  border-radius: 27px / 50px;
}

.diamond {
  position: relative;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 51%);
  width: 54px;
  height: 104px;
  border: none;
}

.rectangle {
  border-radius: 8px / 50px;
}

.red {
  background-color: #F2ADE5;
  border-color: #F2ADE5;
}

.green {
  background-color: #96efff;
  border-color: #96efff;
}

.purple {
  background-color: #a3ffb7;
  border-color: #a3ffb7;
}

.selected {
  border-color: gold;
}

.clear {
  box-shadow: 2px 2px inset grey;
}

.clear:before {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 50px;
  height: 100px;
  background-color: #D8DCF9;
}

.solid {

}

.polkaDot {
  background-image:
    radial-gradient(white 20%, transparent 0), 
    radial-gradient(white 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
